@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #161515;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0 0 10px rgb(173, 173, 172);
  }
.menu .logo a{
  text-decoration: none;
  color: #f6f6f6;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(238, 236, 242);
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #f9f7f7;
  color: black;
}
.img{
  background: url('.//assets/andrwa.jpg')no-repeat;
  width:100%;
  height: 150vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
    }
    
    .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/Andre1.jpeg");
    min-height: 80%;
    }
    
    .menu {
    display: none;
    }

    footer {
      background-color: #000;
      text-align: center;
      padding: 1rem 0;
     
    }
    footer .socials {
      padding: 1rem 0;
    }
    footer .socials a {
      margin: 1rem;
      color: #fff;
    }
    footer .socials a:hover {
      color: red;
    }
    footer .credit {
      font-size: 0.8rem;
    }
    footer .credit p,a {
      color: rgb(23, 230, 230);
      font-weight: 700;
    }
    .body2 {
      text-align: center;
      margin: 0;
      padding: 0;
  }
  #header {
    background-color: rgba(58, 57, 57, 0.9);
      color: #f3eded;
      padding: 20px;
      text-align: center;
  }
  #profile {
      width: 100%;
      margin: 0 auto;
      background-color: rgba(8, 8, 8, 0.9); /* Tambahkan transparansi pada latar belakang */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgb(249, 248, 248);
  }
  .img2{
      max-width: 30%;
      border-radius: 50%;
  }
  .data {
      color: #4b4a4a;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact .container .cons {
    text-align: center;
    padding: 14px;
    color: #080808;
}

.contact .container form {
    color: #090909;
}

form {
    border: #060606 0.5px solid;
    background-color: #f7f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
}

button {
    background-color: #f60606;
    color: #f7f2f2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }

  body {

    font-size: 14px;
  }
  img {
    height: 50hv;
  }
}
.contai {
  background-color: #555;
}